[user]
	name = Martin Tang
	email = martin.tang@ericsson.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = "reset HEAD --"
	last = "log -1 HEAD"
	visual = "!gitk"
	review = "!f() { br=`git branch | sed -n 's/^* \\(.*\\)/\\1/p'`; git push origin HEAD:refs/for/$br;}; f"
[color]
	ui = true
[merge]
	conflictstyle = diff3
[core]
        pager = more
